.container {
    display: flex;
    position: relative;
}
.container .ck.ck-editor {
    width: 100%;
    max-width: 600px;
}
.container .ck-editor__main .ck-content {
    min-height: 200px;
}
.container .sidebar {
    min-width: 300px;
    padding: 0 10px;
}
.presence-list-container {
    max-width: 600px;
    margin-bottom: 10px;
}
.presence-list-container .ck.ck-presence-list {
    flex-direction: row-reverse;
}
