<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Collaboration</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" th:href="@{/css/main.css}" href="../css/main.css"/>
    <script th:inline="javascript">
        /*<![CDATA[*/
        let n521 = /*[[${n521}]]*/ 'no521';
        let catName = /*[[${catName}]]*/ 'noName';
        let catAvatar = /*[[${catAvatar}]]*/ 'noAvatar';
        let catDocId = /*[[${catDocId}]]*/ 'noCatDocId';
        /*]]>*/
    </script>
</head>
<body>

<div class="presence-list-container"></div>
<div class="container">
    <div id="editor">
        <p>Let's edit this together!</p>
    </div>
    <div class="sidebar"></div>
</div>

<script type="text/javascript" th:href="@{/js/ckeditor5.js}" src="../js/ckeditor5.js"></script>

</body>
</html>
